a.navbar-brand {
    background-color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20pt;
    color: white !important;
    padding: 0px 10px 0px 10px;
    /* margin-bottom: 0px  */
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

body {
    background-color: #f0f0f0;
}

h1,h2 {
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.thumbnail {
    display: inline;
    max-width: 50%;
}

.gallery {
    float: left;
    max-width: 100%;
    padding: 1px;
}

#gallery-box .row .col-sm-3, #gallery-box .row .col-lg-6 {
    padding: 0px 5px 0px 5px;
}

.box {
    padding: 30px;
    background-color: white;
    margin-top: 30px;
}

.visualisation {
    max-width: 100%;
}

#active-image {
    border: 2px solid lightseagreen;
}



/* Small screen styling */

@media (max-width:767.98px){
    
    body {
        background-color: white !important;
    }
    
    .navbar.bg-light {
        background-color: lightseagreen !important;
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }

    .navbar{
        padding: 0px;
    }


}